.slider {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 28px;
  touch-action: none;
  pointer-events: none;
}
.slider:not(.disabled) {
  cursor: pointer;
  pointer-events: all;
}

.slider__rail {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #e1e3e6;
  border-radius: 1px;
}

.slider__track {
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(63, 138, 224);
  border-radius: 1px;
}
.slider.disabled .slider__track {
  background-color: gray;
}

.slider__knob {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -14px;
  width: 28px;
  height: 28px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transform-origin: 50% 50%;
}
.slider:not(.disabled) {
  cursor: pointer;
}

.slider:not(.disabled) .slider__knob:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.slider:not(.disabled) .slider__knob:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3),
    0px 3px 8px rgba(63, 138, 224, 0.3);
}
.slider:not(.disabled) .slider__knob.active {
  transform: scale(1.15);
}
