.vk-slider-demo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 3rem;
  font-size: 1.5rem;
  color: #3f8ae0;
  background-color: #fff;
}

.vk-slider-demo__section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.vk-slider-demo__information {
  font-size: 1.2rem;
  color: darkgray;
}
